
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif
}
.left{
    width: 21vw;
    padding: 5px;
}
.right{
    width: 79vw;
}
.home-box{
    font-weight: 500;
}
.home-box ul li{
    display: flex;
    gap: 10px;
    width:20px;
    list-style: none;
    padding-top: 15px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo-first-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.library{
    margin-top: 5px;
    min-height:73vh;
    position: relative;
}
.footer{
    display: flex;
    gap:10px;
    position:absolute;
    bottom: 10px;
    font-size: 8px;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.heading{
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
}
.heading img{
    width:25px
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 58, 58);
}
.header >*{
    padding: 8px;
}
.right{
    margin: 10px 0;
    margin-right: 5px;
    position: relative;
}
.rthymixPlaylist{
    padding: 8px;
}
.rthymixPlaylist .cardContainer{
    padding: 10px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    height: 66vh;
    overflow-y: auto;
}
.card{
    width:170px;
    padding: 10px;
    background-color: rgb(49, 49, 49);
    position: relative;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.card p{
    font-size: 8px;
}
.card:hover{
    transition: all 0.3s ease;
    background-color: rgb(60, 60, 60); 
    cursor: pointer;  
}
.play{
    width: 28px; height: 28px; background-color: #c1b103d0; border-radius: 50%;padding: 4px; display: flex; align-items: center; justify-content: center;
    position:absolute;
    right:14px;
    top:58%;
    color:white;
}
.btn{
    margin-right: 4px;
    padding: 5px 10px;
    font-weight: bold;
    width: 70px;
    border-radius: 20px;
    border:none;
    background-color: rgb(204, 203, 203);
    transition: transform 0.2s ease;
    font-size: 12px;
    cursor:pointer
}
.btn:hover{
    transform: scaleX(1.05);
    background-color: white;
    color: black;
}
.playbar{
    position: fixed;
    width:74.5vw;
    bottom: 20px;
    border-radius: 6px  ;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    min-height: 50px;
}
.seekbar{
    width: 74vw;
    height: 2px;
    border:1px solid rgb(229, 229, 229);
    background: rgb(229, 229, 229);
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
}


.circle{
    height: 12px;
    width: 12px;
    border-radius:6px;
    background-color: wheat;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.8s;
}
.songButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.songcard{
    margin-top: 10px;
    max-height: 60vh;
    overflow-y: scroll;
    background-color: rgb(42, 42, 42);
    border-radius: 4px;
}
.songcard ul{
    margin-top: 5px;
    padding:8px;

}
.playimg{
    height: 16px;
}
.imgp{
    display: flex;
    align-items: center;
    gap:2px
}

.songcard ul li{
    list-style-type: decimal;
    padding: 8px 16px;
    display: flex;
    gap:15px;
    align-items: center;
    font-size: 13px;
    border: 1px solid rgb(62, 62, 62);
    margin: 5px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.songname{
    width:150px;
}
.songtime{
    width: 100px;
}
.info {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: rgb(255, 255, 255);
}


.songinfo{
    color: white;
}
.functionsbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}
.hamburger{
    display: none;
}
@media (max-width: 1000px) {
    .left{
        position: absolute;
        left:-100%;
        transition: all 0.5s;
        z-index:1;
        width:250px;
        background-color: black;
        margin:0px;
        height: 100vh;
        width: 350px;
    }
    .close {
        display: block !important;
        z-index: 2;
    }
    .right{
        width: 100vw;
        height: 100vh;
        margin: 0px;
    }
    .playbar{
        width: 100vw;
        bottom: 0;
        border-radius: 0;
   }
   .seekbar{
    width: 97vw;
   }
    .hamburger {
        display: block;
    }
    .card{
        width:40vw;
    }
    .cardContainer{
        margin: 15px;
        justify-content: center;
    }
    .functionsbar{
        margin-right: 30px;
    }
    .timeVol{
        flex-direction: column;
        gap:2px
    }
    .rthymixPlaylist{
        padding: 0;
    }
    h2{
        margin: 17px 15px;
    }
    .play{
        display: none;
    }
}
@media (max-width:600px) {
    
    .left{
        position: absolute;
        left:-100%;
        transition: all 0.5s;
        z-index:1;
        width:300px;
        background-color: black;
        margin:0px;
        padding: 0px;
        height: 100vh;
    }
    .close {
        display: block !important;
        z-index: 2;
    }
    .right{
        width: 100vw;
        height: 100vh;
        margin: 0px;
    }
    .songname{
        text-align: center;
        width: 100%;
    }
    .functionsbar{
        flex-direction: column;
        gap:10px;
        align-items: center;
    }
    .cardContainer{
        margin: 15px;
        justify-content: center;
    }
    .card{
        width: 65vw;
    }
   .playbar{
        width: 100vw;
        bottom: 0;
        border-radius: 0;
   }
   .play{
    display: none;
    }
   .seekbar{
    width: 95vw;
   }
   h2{
    margin: 17px 15px;
}
}
.hamburgerdiv{
    margin-right: 10px;
    margin-left: 5px;
}
.hamburgerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close{
    display: none;
}
.timeVol{
    display: flex;
    gap:10px;
    align-items: center;
}
.timeVol .volume{
    height: 4px;
    width: 80px;
    margin-right: 6px;
}
.voli{
    display: flex;
    align-items: center;
    gap: 2px;
}
#prev,#next,#play:hover{
    cursor: pointer;
}
.volume{
    cursor: pointer;
}